<!-- берём из base.html -->
{% extends 'base.html' %} 

<!-- загрузили статические файлы -->
{% load static %}

<!-- название страницы, смотри в title base.html -->
{% block title %} 
	Корзина
{% endblock %}

<!-- начало контента из base.html -->
{% block content %}


	<!-- #проверяем есть ли в корзине какието элементы -->
	{% if not cart_items %}
	<div class="text-center">
		<!-- div покажется если корзина будет пустой -->
		<br>
		<h1 class="text-center product_title">
			Ваша корзина пуста
		</h1>
		<br>
		<p class="text-center">
			Нажми
			<a href="{% url 'home' %}">
				сюда
			</a>
			, чтобы вернутся к покупкам
		</p>
	</div>




	{% else %}
	<h1>Корзина</h1>
	<div class="text-center text-light">
		<br>
		<!-- product_title наш клас css -->
		<div class="text-center product_title">
			Корзина товаров
		</div>
	</div>
	<div class="row mx-auto">
		<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
			<!-- <table class="table text-light cart-table"> -->
			<!-- ---------card-table-----cart-thead------------------------------------------------------------------ -->
			<table class="table text-light cart-table">
				<thead class="cart-thead">
					<tr>
						<th colspan="4">
							Ваши товары
						</th>
					</tr>
				</thead>
				{% for cart_item in cart_items %}
				<tr>
					<td>
						<a href="cart_item.product.get_url">
							<img src="{{ cart_item.product.image.url }}" width="100" height="100">
						</a>
					</td>
					<td class="text-start">
						{{ cart_item.product.name }}
						<br>
						SKU: {{ cart_item.product.id }}
						<br>
						Цена за штуку: {{ cart_item.product.price }}
						<br>
						Количество товара: {{ cart_item.quantity }} Х {{ cart_item.product.price }}
					</td>
					<td>
						$ {{ cart_item.sub_total }}
					</td>

					{% if cart_item.quantity < cart_item.product.stock %}

					<td>
						<a href="{% url 'add_cart' cart_item.product.id %}"><span class="material-symbols-sharp cart-icon">shopping_cart_checkout</span></a>
						<a href=""><span class="material-symbols-sharp cart-icon">indeterminate_check_box</span></a>
						<a href=""><span class="material-symbols-sharp cart-icon">delete</span></a>
					</td>

					{% else %}

					<td>
						<a href=""><span class="material-symbols-sharp cart-icon">indeterminate_check_box</span></a>
						<a href=""><span class="material-symbols-sharp cart-icon">delete</span></a>
					</td>

					{% endif %}

				</tr>
				{% endfor %}
			</table>
		</div>

		<div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
			<!-- ----------------cart-table---------------------------------------------------------------- -->
			<table class="table text-light cart-table">
				<!-- ----------------cart-thead---------------------------------------------------------------- -->
				<thead class="cart-thead">
					<tr>
						<th colspan="4">
							Сheck out - Проверить
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="text-danger">
							До оплаты, проверьте вашу корзину
						</td>
					</tr>
					<!-- -------------------------------------------------------------------------------------------------- -->
					<tr>
						<td class="text-start">
							Сумма для товаров в корзине: <strong>$ {{ total }}</strong>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="mx-auto">
				<a href="{% url 'home' %}" style="text-decoration: none;">
					<div class="d-grid gap-2">
						<button type="button" class="btn btn-primary btn-lg">
							<h2>Назад в магазин</h2>
						</button>
					</div>
				</a>
			</div>
		</div>
	</div>
	{% endif %}







<!-- конец контента из base.html -->
{% endblock %}