{% extends 'base.html' %}<!--  берём из base.html -->
{% load static %} <!-- подгружаем статические файлы -->
 <!-- название страницы, смотри в title base.html -->
{% block title %}
	Описание товара

{% endblock %}
<!-- название страницы, смотри в title base.html -->

{% block content %}<!--  начало контекта base.html - навбар -->

<!-- py-5 отступ cверху и снизу 5 padding top+bottom -->
<div class="container py-5">
	<!-- margin top 4  -->
	<div class="row mt-4">

		<!-- col - столбец/10 - ширина 10из12/mx - margin left+right/auto - по центру весь блок col/ md-6 размер >= 768px/my - margin top+bottom -->
		<div class="col-10 mx-auto col-md-6 my-3">
			
			<!-- путь ecommerce-project/static/images -->
			<!-- class="img-fluid" - чтобы оно масштабировалось с шириной родительского элемента, и небыло огромным -->
			
			<img src="{{ product.image.url }}" class="img-fluid">


		</div><!-- col 10 -->

		<!-- col - столбец/10 - ширина 10из12/mx - margin left+right/auto - по центру весь блок col/ md-6 размер >= 768px/my - margin top+bottom -->
		<div class="col-10 mx-auto col-md-6 my-3 text-light">
			
			<!-- классы ниже - наши классы - будем описывать в css самостоятельно -->
			<h1 class="product_title">{{ product.name }}</h1>
			<h5 class="text-info fst-italic mb-4">{{ product.price }} $</h5>
			<p class="product_desc">Краткие характеристики Авто</p>
			<!-- text-justify - выравнивание текста -->
			<p class="text-justify product_text">{{ product.description }}</p>
			
			{% if Product.stock <= 0 %}
			<p class="text-justify product_text">Нет в наличии</p>
			{% else %}
			<a href="{% url 'add_cart' product.id %}">Добавить в Корзину</a>
			{% endif %}



		</div><!-- col 10 -->




	</div><!-- row -->
</div><!-- container -->
{% endblock %}<!--  закрыли block content -->